<body class="body-m">
    <div class="container">
        <div class="navbar" [ngClass]="{'bloquear': flag}">
            <img src="./assets/img/carpeta.ico" class="logo"> 
            <h1 class="titulo-main">Videoteca CIDEJ</h1>
            <ul>
                <li><a href="/menu">Proximos Eventos</a></li>
                <li><a routerLink="/videos">Videos</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
            </ul>
        </div>

        
        <div class="btn-buscar" [ngClass]="{'bloquear': flag}">
            <label><input placeholder="Buscar" type="text" id="Buscar" name="Buscar" /></label>
            <button class ="bttn-buscar" style="margin-left: 10px" >Buscar</button> 
        </div>

        <div class="container2">
            <input type="checkbox" id="toggle">
            <label for="toggle" class="agregar"></label>
            <nav class="nav" >
                <a (click)="mostrarForm()" (click)="cambiarFlag()">Agregar</a> 
            </nav>
        </div>


        <ng-container *ngIf="mostrar" id="Formulario"  >
            <form class="modal-form" method="post" >
                <img class="cerrar" src="./assets/img/cerrar.ico" width="25" align="right" (click)="cambiarFlag()" (click)="cerrarForm()" >
                <h1>Datos del URL</h1>
                <input class="nombre-input"
                  type="nombre"
                  name="nombreInput"
                 
                  placeholder="Nombre del Video"
                  
                /> 
                <input class="url"
                  name="urlInput"
                 
                  placeholder="URL"   
                  
                />
             <button type="submit"          (click)="cambiarFlag()" (click)="cerrarForm()">Agregar</button>
            </form>
      </ng-container>


    </div>
</body>
