.container{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0, 0.4), rgba(0, 0,0, 0.4)), url("https://live.staticflickr.com/2806/10529783295_ca0b3e8e95_h.jpg://www.tn23.tv/wp-content/uploads/2019/01/OJ-Y-CORTE-3-e1570809706661-700x446.jpg");
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.custom-form {
    text-align: center;
    font-family: 'Lucida Sans';
    width: 300px;
    padding: 2rem 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border-radius: 2.5rem;
    background-color: #ecf0f3;
    color: black;

    
  }
  
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
        border: 0 none;
    background: #ebf5fc;
    
  }
  
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color:rgba(9, 14, 80, 0.849);
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    overflow: hidden;
  } 

.custom-form button:hover{
  background:#3563e0
}

.footer{
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Lucida Sans';
}
.titulo-head{
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Lucida Sans';
}


.custom-form input.Usuario-input{
  background-image: url(/assets/img/usuario.ico);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
}
.custom-form input.Usuario-input::placeholder{
 font-weight: 300;
}

.custom-form input.contra{
  background-image: url(/assets/img/candado.ico);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
}

.custom-form input.contra::placeholder{
  font-weight: 300;
}




 