<div  class="container">
  <!--
  <header> 
    <h3 class=" titulo-head">
      <img src="/assets/img/Logo.png"> Videoteca Organismo Judicial
    </h3>
  </header>
  -->
    <form class="custom-form" method="post">
       <img src="./assets/img/escudo.png" width="100" >
        <h1>Iniciar Sesión</h1>
        <input class="Usuario-input"
          type="usuario"
          name="usuario"
          placeholder="Usuario de red"
        />
        <input class="contra"
          type="contraseña"
          name="contraseña"
          placeholder="Contraseña"
          
              
        />
        <button type="ingreso" routerLink="/menu">Ingresar</button>
      </form>
      
      <footer class="footer">
       <span class="copyright">&copy; 2022 <a  target="_blank">Organismo Judicial - Guatemala C.A.</a></span>
       <a  target="_blank">Centro de Información, Desarrollo y Estadistica Judicial</a>
      </footer>
</div>

