<body class="body-m">
<div class="container">
    <div class="navbar" [ngClass]="{'bloquear': flag}">
        <img src="./assets/img/carpeta.ico" class="logo"> 
        <h1 class="titulo-main">Videoteca CIDEJ</h1>
    <ul>
        <li><a href="/menu">Proximos Eventos</a></li>
        <li><a routerLink="/videos">Videos</a></li>
        <li><a href="#">Cerrar Sesión</a></li>
    </ul>
    </div>
    <h1 [ngClass]="{'bloquear': flag}" class="titulo-menu"> Proximos Eventos</h1>
    <img [ngClass]="{'bloquear': flag}" src="./assets/img/dedo.png" class="logo-titulo">


    <div class="container_table" [ngClass]="{'bloquear': flag}">
      <div class="table_header">Nombre del Evento</div>
      <div class="table_header">Ponente</div>
      <div class="table_header">Fecha</div>
      <div class="table_header">Descripción</div>
      <div class="table_header">Información Sesión Virtual</div>
    </div>

    <div class="container_table2" *ngFor="let ingreso of ingresos" [ngClass]="{'bloquear': flag}">
      <div class="table_item">{{ingreso.evento}}</div>
      <div class="table_item">{{ingreso.ponente}}</div>
      <div class="table_item">{{ingreso.fecha}}</div>
      <div class="table_item">{{ingreso.descripcion}}</div>
      <div class="table_item">{{ingreso.virtual}}</div>
    </div>

    <div class="container2">
      <input type="checkbox" id="toggle">
      <label for="toggle" id="cerrar" class="button"></label>
      <nav class="nav" >
          <a (click)="mostrarForm()" (click)="cambiarFlag()">Agregar</a>  
      </nav>

  </div>


    <ng-container *ngIf="mostrar" id="Formulario"  >
        <form class="modal-form" method="post" >
            <img class="cerrar" src="./assets/img/cerrar.ico" width="25" align="right" (click)="cambiarFlag()" (click)="cerrarForm()" >
            <h1>Datos del Evento</h1>
            <input class="nombre-input"
              type="nombre"
              name="nombreInput"
              [(ngModel)] ="nombreInput"
              placeholder="Nombre del Evento"
              
            /> 
            <input class="ponente"
              name="ponenteInput"
              [(ngModel)] ="ponenteInput"
              placeholder="Ponente"   
              
            />
            <input class="fecha"
            name="fechaInput"
            [(ngModel)] ="fechaInput"
            placeholder="Fecha" 
                 
          />
          <input class="descripcion"
          name="descripcionInput"
          [(ngModel)] ="descripcionInput"
          placeholder="Descripcion"  
              
        />
        <input class="virtual"
        name="virtualInput"
        [(ngModel)] ="virtualInput"
        placeholder="URL"     
      />
         <button type="submit" (click)="agregarValor()" (click)="cambiarFlag()" (click)="cerrarForm()">Agregar</button>
        </form>
  </ng-container>

</div>
</body>

