.body-m{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(218, 218, 233);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(9, 14, 80, 0.849);
    
}


.navbar h1.titulo-main{
    color: white;
    font-family: 'Lucida Sans';
    font-size: 2.2rem;
    position: absolute;
    padding-left: 140px;
}

.logo{
    width: 100px;
    padding-left: 15px;
}

.logo-titulo{
    width: 100px;
    display: block;
    margin: 10px auto;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans';
    font-size: 1.2rem;
}
.navbar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-in-out;
}
.navbar ul li:hover::before{
    width: 100%;
}

.container h1.titulo-menu{
    color: black;
    font-family: 'Lucida Sans';
    font-size: 2.2rem;
    text-align: center;
}
     
/*estilo del form de proximos eventos */
.modal-form {
    text-align: center;
    font-family: 'Lucida Sans';
    width: 300px;
    padding: 2rem 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border-radius: 2.5rem;
    background-color: #ecf0f3;
    color: black;
    
  }
  .modal-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
        border: 0 none;
    background: #ebf5fc;  
  }
  .modal-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color:rgba(9, 14, 80, 0.849);
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    overflow: hidden;
  } 
.modal-form button:hover{
  background:#3563e0
}

.bloquear{
    opacity: 0.5;
}
.cerrar{
    cursor: pointer;
}

.bloquear{
    opacity: 0.5;
}

/*modelo para la tabla de contenidos para eventos proximos*/
.container_table{
    width: 90%;
    background:rgba(9, 14, 80, 0.849);
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50px;
    color: white;
    font-family: 'Lucida Sans';
    border-radius: 20px;
}
.container_table2{
    width: 90%;
    margin-top: 0px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50px;
    color: white;
    font-family: 'Lucida Sans';
    border-radius: 20px;
}

.table_header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.table_item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
}

/*boton de agregar*/
.container2, .button, .nav{
    font-family: 'Lucida Sans';
    text-align: center;
    color: #ffffff;
    position: absolute; 
    right: 15px; 
    bottom: 12px;
}
.container2{
    margin: auto;
    top: 10%;
    left: 5%;
    margin-left: -20px;
}
#toggle{
    display: none;
}

.button{
    z-index: 999;
    width: 43px;
    height: 43px;
    background: rgba(9, 14, 80, 0.849);
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0, 0.3);
    cursor: pointer;
}
.button:before{
 position: absolute;
 top: 20px;
 left: 9px;
 content: '';
 width: 25px;
 height: 2px;
 background: #fff;
 transform: rotate(90deg);
}
.button:hover{
    background:#3563e0
}
.button:after{
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
   }
   
.nav{
    transform: translateY(-10%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background: white;
    width: 150px;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.1);
    bottom: 70px;
}
.nav a{
    text-align: center;
    display: block;
    margin: 20px 0;
    color: #3563e0;
    text-decoration: none;
    font-family: 'Lucida Sans';
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav a:hover{
    color: black;
}


#toggle:checked ~ .nav{
    opacity: 1;
    transform: translateY(10%);
}

#toggle:checked ~ .button{
    transform: rotate(135dg);
    box-shadow: 0 0 0 0 transparent;
}

