<body class="body-m">
    <div class="container">
        <div class="navbar" [ngClass]="{'bloquear': flag}">
            <img src="./assets/img/carpeta.ico" class="logo"> 
            <h1 class="titulo-main">Videoteca CIDEJ</h1>
            <ul>
                <li><a href="/menu">Proximos Eventos</a></li>
                <li><a routerLink="/videos">Videos</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
            </ul>
        </div>

        <div class="btn-buscar" [ngClass]="{'bloquear': flag}">
            <label><input placeholder="Buscar" type="text" id="Buscar" name="Buscar" /></label>
            <button class ="bttn-buscar" style="margin-left: 10px" >Buscar</button> 
        </div>

        <div class="container2">
            <input type="checkbox" id="toggle">
            <label for="toggle" class="button"></label>
            <nav class="nav" >
                <a (click)="mostrarForm()" (click)="cambiarFlag()">Agregar</a> 
                <a routerLink="/videos-url">URL</a>
            </nav>
        </div>


        <ng-container *ngIf="mostrar" id="Formulario"  >
            <form class="modal-form" method="post" >
                <img class="cerrar" src="./assets/img/cerrar.ico" width="25" align="right" (click)="cambiarFlag()" (click)="cerrarForm()" >
                <h1>Datos del Video</h1>
                <input class="nombre-input"
                  type="nombre"
                  name="nombreInput"
                 [(ngModel)] ="nombreInput"
                  placeholder="Nombre del Video"
                  
                /> 
                <input class="ponente"
                  name="ponenteInput"
                  [(ngModel)] ="ponenteInput"
                  placeholder="Ponente"   
                  
                />
                <input class="categoria"
                name="categoriaInput"
                [(ngModel)] ="categoriaInput"
                placeholder="Categoria" 
                     
              />
              <input class="duracion"
              name="duracionInput"
              [(ngModel)] ="duracionInput"
              placeholder="Duración"  
                  
            />
            <input class="descripcion"
            name="descripcionInput"
            [(ngModel)] ="descripcionInput"
            placeholder="Descripción"     
          />
             <button type="submit"  (click)="agregarValor()"  (click)="cambiarFlag()" (click)="cerrarForm()">Agregar</button>
            </form>
      </ng-container>

 
    <div class="wrapper" [ngClass]="{'bloquear': flag}">
            <video controls width="500" height="280">
                <source src="./assets/videos/AcercamientoSAT.mp4" type="video/mp4">
                Tu navegador no es compatible con videos
             </video>
    </div>

    <div class="container_table" *ngFor="let ingreso of ingresos"  [ngClass]="{'bloquear': flag}">
        <div class="table_header">Nombre</div>
        <div class="table_header">Ponente</div>
        <div class="table_header">Categoría</div>
        <div class="table_header">Duración</div>
        <div class="table_header">Descripción</div>
        <div class="table_item">{{ingreso.nombre}}</div>
        <div class="table_item">{{ingreso.ponente}}</div>
        <div class="table_item">{{ingreso.categoria}}</div>
        <div class="table_item">{{ingreso.duracion}}</div>
        <div class="table_item">{{ingreso.descripcion}}</div>
      </div> 

</div>
</body>
